body {
    background-image: url("../images/chicago.jpg");
    font-family: serif;
}

#container {
    background: white;
    width: 74%;
    margin-left: auto;
    margin-right: auto;  
    margin-top: 40px;
}

#header {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 25px;
}

#quiz {
    text-align: center;
    padding-bottom: 60px;
}

#button,
#done {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 18px;
    background:rgb(114, 182, 245);
    font-family: serif;
    font-weight: bold;
    font-size: 24px;
}

#count-number {
    color: red;
}